!!!
%html
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-type" }
    %meta{ :description => "Simple url shortener written in Ruby using Sinatra"   }
    %meta{ :author => "Mitko Kostov" }
    %title
      Shorty - URL shortener with Sinatra
    %link{ 'type' => "text/css", :href   => "style.css", :rel => 'stylesheet' }
  %body
    .content
      %h1 Shorty
      %form{ :action => "/", :method => "post", "accept-charset" => "utf-8", :class => 'new_shorty', :id => 'new_shorty' }
        %label{ :for => 'shorty_long_url'} Enter your long url
        %input{ :name => "url", :type => "text", :value => "", :size => '30', :id => 'shorty_long_url'}
        %input{ :type => "submit", :value => "Shorten &rarr;", :id => 'shorty_submit'}
      %br/
      - if @data
        %h3
          ="Your url is #{HOST}" + @data.first[:surl]
      %br/
      %br/
      .footer
        %p
          Developed by
          =link_to 'Mitko Kostov.', 'http://mitkokostov.info'
          Source code at
          =link_to 'Github.', 'http://github.com/mitkok/shorty/tree/master'
